Import

In [3]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error
import numpy as np
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
import matplotlib.pyplot as plt

création de la dataframe

In [4]:
df = pd.read_csv(r"After_Sort.csv", parse_dates=["BaseDateTime"])
df.sort_values("BaseDateTime", inplace=True)

print informations

In [5]:
print(df.head())
print(df.info())
print(df.describe())
print(df["VesselType"].value_counts())

             id       MMSI BaseDateTime       LAT       LON   SOG    COG  \
117352  9030257  563020500   2023-05-25  28.82655 -89.43528  14.2  207.9
117395  9032593  366954420   2023-05-25  27.77639 -82.63030   0.1  294.9
117339  9029199  215583000   2023-05-25  26.48967 -79.39617  10.2  182.7
117360  9030460  367181550   2023-05-25  29.85450 -89.98148   0.0  298.2
117442  9036191  368045410   2023-05-25  27.84124 -97.06945   5.9   15.5

        Heading        VesselName            IMO CallSign  VesselType  Status  \
117352    206.0       MERCURY SKY     IMO9796949   9V5148          70       0
117395    294.0  PROVINCETOWN III     IMO9329394  WDB8185          60       0
117339    184.0         COBIA LNG     IMO9869306  9HA5192          84       0
117360      NaN   BELLE CHASSE II            NaN  WDD7069          60       0
117442      NaN    JOSEPH F WEBER  IMO1012865430  WDK3453          60       0

        Length  Width  Draft  Cargo TransceiverClass
117352     NaN    NaN    NaN   70.0                A
117395    30.0    9.0    1.9   60.0                A
117339   299.0   46.0    9.4   84.0                A
117360    41.0   16.0    NaN   60.0                A
117442    46.0   16.0    3.3   60.0                A
<class 'pandas.core.frame.DataFrame'>
Index: 411723 entries, 117352 to 402776
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                411723 non-null  int64
 1   MMSI              411723 non-null  int64
 2   BaseDateTime      411723 non-null  datetime64[ns]
 3   LAT               411723 non-null  float64
 4   LON               411723 non-null  float64
 5   SOG               411723 non-null  float64
 6   COG               371787 non-null  float64
 7   Heading           267527 non-null  float64
 8   VesselName        411723 non-null  object
 9   IMO               297387 non-null  object
 10  CallSign          409921 non-null  object
 11  VesselType        411723 non-null  int64
 12  Status            411723 non-null  int64
 13  Length            393426 non-null  float64
 14  Width             367428 non-null  float64
 15  Draft             268706 non-null  float64
 16  Cargo             409615 non-null  float64
 17  TransceiverClass  411723 non-null  object
dtypes: datetime64[ns](1), float64(9), int64(4), object(4)
memory usage: 59.7+ MB
None
                 id          MMSI                   BaseDateTime  \
count  4.117230e+05  4.117230e+05                         411723
mean   1.676658e+07  4.051087e+08  2023-05-28 11:51:24.290372096
min    8.200000e+01  2.057760e+08            2023-05-25 00:00:00
25%    7.845310e+06  3.670212e+08            2023-05-27 00:25:34
50%    1.645390e+07  3.675990e+08            2023-05-29 01:04:08
75%    2.570430e+07  4.771376e+08     2023-05-29 22:15:20.500000
max    3.518632e+07  6.718300e+08            2023-05-31 23:59:59
std    1.031064e+07  1.081609e+08                            NaN

                 LAT            LON            SOG            COG  \
count  411723.000000  411723.000000  411723.000000  371787.000000
mean       28.665941     -90.065868       3.354600     194.007270
min        23.386430     -97.396580       0.000000       0.000000
25%        27.878770     -94.448555       0.000000     115.000000
50%        29.258580     -90.209540       0.000000     207.100000
75%        29.725690     -89.098555       5.800000     277.000000
max        31.998470     -76.492140      34.400000     359.900000
std         1.454098       5.166867       5.836501     101.812955

             Heading     VesselType         Status         Length  \
count  267527.000000  411723.000000  411723.000000  393426.000000
mean      183.661765      68.682051       3.004178     117.467420
min         0.000000      60.000000       0.000000       0.000000
25%        85.000000      60.000000       0.000000      35.000000
50%       177.000000      70.000000       0.000000      87.000000
75%       288.000000      80.000000       5.000000     185.000000
max       359.000000      89.000000      15.000000     334.000000
std       112.251487       8.574370       5.011241      93.638247

               Width          Draft          Cargo
count  367428.000000  268706.000000  409615.000000
mean       21.005672       7.607627      66.746289
min         0.000000       0.000000       0.000000
25%         9.000000       3.300000      60.000000
50%        18.000000       8.200000      70.000000
75%        32.000000      11.000000      80.000000
max        60.000000      20.400000      99.000000
std        14.050956       4.440219      18.136256
VesselType
60    174436
70    106852
80     97889
71      6879
89      6805
79      5543
69      5517
82      2511
74      1959
61      1840
84      1492
Name: count, dtype: int64

ajout des colones lat et long +5, +10, +15 et delta_temps à la dataframe

In [6]:
nouvelles_colonnes = ['LONG_5', 'LAT_5', 'LONG_10', 'LAT_10', 'LONG_15', 'LAT_15','Delta_temps']

# Ajout des colonnes avec des valeurs vides (NaN)
for col in nouvelles_colonnes:
    df[col] = None  # ou pd.NA, ou np.nan si vous utilisez numpy


print(df.head())

             id       MMSI BaseDateTime       LAT       LON   SOG    COG  \
117352  9030257  563020500   2023-05-25  28.82655 -89.43528  14.2  207.9
117395  9032593  366954420   2023-05-25  27.77639 -82.63030   0.1  294.9
117339  9029199  215583000   2023-05-25  26.48967 -79.39617  10.2  182.7
117360  9030460  367181550   2023-05-25  29.85450 -89.98148   0.0  298.2
117442  9036191  368045410   2023-05-25  27.84124 -97.06945   5.9   15.5

        Heading        VesselName            IMO  ... Draft  Cargo  \
117352    206.0       MERCURY SKY     IMO9796949  ...   NaN   70.0
117395    294.0  PROVINCETOWN III     IMO9329394  ...   1.9   60.0
117339    184.0         COBIA LNG     IMO9869306  ...   9.4   84.0
117360      NaN   BELLE CHASSE II            NaN  ...   NaN   60.0
117442      NaN    JOSEPH F WEBER  IMO1012865430  ...   3.3   60.0

        TransceiverClass  LONG_5  LAT_5  LONG_10  LAT_10 LONG_15 LAT_15  \
117352                 A    None   None     None    None    None   None
117395                 A    None   None     None    None    None   None
117339                 A    None   None     None    None    None   None
117360                 A    None   None     None    None    None   None
117442                 A    None   None     None    None    None   None

       Delta_temps
117352        None
117395        None
117339        None
117360        None
117442        None

[5 rows x 25 columns]

Remplissage de la colonne Delta_temps

In [7]:
df['Delta_temps'] = df.sort_values(['MMSI', 'BaseDateTime']).groupby('MMSI')['BaseDateTime'].diff().dt.total_seconds()

Séparation en bases d'apprentissage, test et validation par MMSI

In [8]:

# Récupération des MMSI uniques et suppr valeurs manquantes
mmsi_uniques = df['MMSI'].dropna().unique()

# Mélange aléatoire
np.random.seed(42)
np.random.shuffle(mmsi_uniques)

# Affectation fixe : 97 pour apprentissage, 30 pour test, 22 pour validation
n_train = 97
n_test = 30
n_val = 22

mmsi_train = mmsi_uniques[:n_train]
mmsi_test = mmsi_uniques[n_train:n_train + n_test]
mmsi_val = mmsi_uniques[n_train + n_test:n_train + n_test + n_val]

# Création des trois sous-ensembles
df_train = df[df['MMSI'].isin(mmsi_train)]
df_test = df[df['MMSI'].isin(mmsi_test)]
df_val = df[df['MMSI'].isin(mmsi_val)]

# Affichage pour vérification
print("Nombre de MMSI uniques:")
print("Train:", df_train['MMSI'].nunique())
print("Test :", df_test['MMSI'].nunique())
print("Val  :", df_val['MMSI'].nunique())

Nombre de MMSI uniques:
Train: 97
Test : 30
Val  : 22

Observation de début de chaque df

In [9]:
print(df_train.head(5))
print("\n")
print("\n")
print("  ===============================================================  ")
print("\n")
print("\n")
print(df_test.head(5))
print("\n")
print("\n")
print("  ===============================================================  ")
print("\n")
print("\n")
print(df_val.head(5))

             id       MMSI        BaseDateTime       LAT       LON   SOG  \
117352  9030257  563020500 2023-05-25 00:00:00  28.82655 -89.43528  14.2
117442  9036191  368045410 2023-05-25 00:00:00  27.84124 -97.06945   5.9
117410  9033545  367761740 2023-05-25 00:00:01  29.80445 -93.95542   0.0
117338  9029195  563142600 2023-05-25 00:00:01  28.90024 -93.96424  12.6
117341  9029417  366957490 2023-05-25 00:00:01  29.28540 -89.36020   0.0

          COG  Heading         VesselName            IMO  ... Draft  Cargo  \
117352  207.9    206.0        MERCURY SKY     IMO9796949  ...   NaN   70.0
117442   15.5      NaN     JOSEPH F WEBER  IMO1012865430  ...   3.3   60.0
117410    NaN      NaN     GENERAL PATTON            NaN  ...   NaN   33.0
117338  305.1    306.0        GRAMPUS ACE     IMO9584190  ...   8.7   70.0
117341  315.3      NaN  WILLIAM H JOHNSON            NaN  ...   NaN   50.0

        TransceiverClass  LONG_5  LAT_5  LONG_10  LAT_10 LONG_15 LAT_15  \
117352                 A    None   None     None    None    None   None
117442                 A    None   None     None    None    None   None
117410                 A    None   None     None    None    None   None
117338                 A    None   None     None    None    None   None
117341                 A    None   None     None    None    None   None

       Delta_temps
117352         NaN
117442         NaN
117410         NaN
117338         NaN
117341         NaN

[5 rows x 25 columns]




  ===============================================================




             id       MMSI        BaseDateTime       LAT       LON   SOG  \
117339  9029199  215583000 2023-05-25 00:00:00  26.48967 -79.39617  10.2
117360  9030460  367181550 2023-05-25 00:00:00  29.85450 -89.98148   0.0
117403  9033249  477137600 2023-05-25 00:00:01  26.30728 -79.26286  12.6
117337  9029096  367345040 2023-05-25 00:00:02  29.62820 -94.95548   0.0
117340  9029213  366983730 2023-05-25 00:00:05  29.06302 -88.95610   0.3

          COG  Heading        VesselName         IMO  ... Draft  Cargo  \
117339  182.7    184.0         COBIA LNG  IMO9869306  ...   9.4   84.0
117360  298.2      NaN   BELLE CHASSE II         NaN  ...   NaN   60.0
117403  225.5    225.0  ORIENTAL JUBILEE  IMO9763813  ...   NaN   80.0
117337    NaN      NaN       SUN FIGHTER         NaN  ...   NaN    5.0
117340   35.7      NaN          MR LLOYD  IMO8988480  ...   NaN   60.0

        TransceiverClass  LONG_5  LAT_5  LONG_10  LAT_10 LONG_15 LAT_15  \
117339                 A    None   None     None    None    None   None
117360                 A    None   None     None    None    None   None
117403                 A    None   None     None    None    None   None
117337                 A    None   None     None    None    None   None
117340                 A    None   None     None    None    None   None

       Delta_temps
117339         NaN
117360         NaN
117403         NaN
117337         NaN
117340         NaN

[5 rows x 25 columns]




  ===============================================================




             id       MMSI        BaseDateTime       LAT       LON   SOG  \
117395  9032593  366954420 2023-05-25 00:00:00  27.77639 -82.63030   0.1
117356  9030360  367106880 2023-05-25 00:00:02  29.90115 -90.08112   0.0
117451  9037266  538008705 2023-05-25 00:00:03  29.19053 -94.50268  10.8
117345  9029752  367740670 2023-05-25 00:00:03  27.84395 -97.07004   0.0
117346  9029758  538009657 2023-05-25 00:00:05  29.59278 -89.82298  14.9

          COG  Heading        VesselName         IMO  ... Draft  Cargo  \
117395  294.9    294.0  PROVINCETOWN III  IMO9329394  ...   1.9   60.0
117356  231.9    342.0         NEW ROADS  IMO7527980  ...   1.5   60.0
117451  134.6    134.0     SOLAR SUZANNE  IMO9877638  ...   7.9   80.0
117345  281.6      NaN  CHARLES W. HEALD         NaN  ...   NaN   60.0
117346  128.4    130.0    CLIPPER MEDWAY  IMO9587221  ...   7.1   70.0

        TransceiverClass  LONG_5  LAT_5  LONG_10  LAT_10 LONG_15 LAT_15  \
117395                 A    None   None     None    None    None   None
117356                 A    None   None     None    None    None   None
117451                 A    None   None     None    None    None   None
117345                 A    None   None     None    None    None   None
117346                 A    None   None     None    None    None   None

       Delta_temps
117395         NaN
117356         NaN
117451         NaN
117345         NaN
117346         NaN

[5 rows x 25 columns]

In [10]:
df_train.sort_values(["MMSI","BaseDateTime"], inplace=True)
print(df_train.head(10))

             id       MMSI        BaseDateTime       LAT       LON   SOG  \
117354  9030354  209513000 2023-05-25 00:00:04  26.34658 -78.94057  31.9
117425  9035334  209513000 2023-05-25 00:01:06  26.33986 -78.94755  31.9
117521  9042882  209513000 2023-05-25 00:02:16  26.33224 -78.95551  32.2
118718  9138497  209513000 2023-05-25 00:11:58  26.26969 -79.02179  31.6
118261  9101604  209513000 2023-05-25 00:14:42  26.25213 -79.04084  32.3
119115  9170094  209513000 2023-05-25 00:16:20  26.24117 -79.05147  32.3
121742  9370175  209513000 2023-05-25 00:18:36  26.22595 -79.06683  32.9
118618  9129883  209513000 2023-05-25 00:19:42  26.21860 -79.07424  32.5
118772  9142300  209513000 2023-05-25 00:20:43  26.21183 -79.08091  31.0
118884  9152712  209513000 2023-05-25 00:21:44  26.20550 -79.08769  32.3

          COG  Heading   VesselName         IMO  ... Draft  Cargo  \
117354  222.8    224.0  OCEAN PEARL  IMO9060247  ...   9.8   49.0
117425  224.1    226.0  OCEAN PEARL  IMO9060247  ...   9.8   49.0
117521  223.0    224.0  OCEAN PEARL  IMO9060247  ...   9.8   49.0
118718  224.3    225.0  OCEAN PEARL  IMO9060247  ...   9.8   49.0
118261  222.3    223.0  OCEAN PEARL  IMO9060247  ...   9.8   49.0
119115  220.4    221.0  OCEAN PEARL  IMO9060247  ...   9.8   49.0
121742  224.5    224.0  OCEAN PEARL  IMO9060247  ...   9.8   49.0
118618  224.7    224.0  OCEAN PEARL  IMO9060247  ...   9.8   49.0
118772  220.0    220.0  OCEAN PEARL  IMO9060247  ...   9.8   49.0
118884  221.2    219.0  OCEAN PEARL  IMO9060247  ...   9.8   49.0

        TransceiverClass  LONG_5  LAT_5  LONG_10  LAT_10 LONG_15 LAT_15  \
117354                 A    None   None     None    None    None   None
117425                 A    None   None     None    None    None   None
117521                 A    None   None     None    None    None   None
118718                 A    None   None     None    None    None   None
118261                 A    None   None     None    None    None   None
119115                 A    None   None     None    None    None   None
121742                 A    None   None     None    None    None   None
118618                 A    None   None     None    None    None   None
118772                 A    None   None     None    None    None   None
118884                 A    None   None     None    None    None   None

       Delta_temps
117354         NaN
117425        62.0
117521        70.0
118718       582.0
118261       164.0
119115        98.0
121742       136.0
118618        66.0
118772        61.0
118884        61.0

[10 rows x 25 columns]

C:\Users\Paul\AppData\Local\Temp\ipykernel_14704\703263359.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train.sort_values(["MMSI","BaseDateTime"], inplace=True)

In [11]:
print(f"Taille de l'ensemble d'apprentissage : {len(df_train)}")
print(f"Taille de l'ensemble de test : {len(df_test)}")
print(f"Taille de l'ensemble de validation : {len(df_val)}")

Taille de l'ensemble d'apprentissage : 270763
Taille de l'ensemble de test : 82909
Taille de l'ensemble de validation : 58051

In [12]:
df_train.sort_values(["MMSI","BaseDateTime"], inplace=True)
print(df_train.head())
# print(df_train.iloc[2950:3000])

             id       MMSI        BaseDateTime       LAT       LON   SOG  \
117354  9030354  209513000 2023-05-25 00:00:04  26.34658 -78.94057  31.9
117425  9035334  209513000 2023-05-25 00:01:06  26.33986 -78.94755  31.9
117521  9042882  209513000 2023-05-25 00:02:16  26.33224 -78.95551  32.2
118718  9138497  209513000 2023-05-25 00:11:58  26.26969 -79.02179  31.6
118261  9101604  209513000 2023-05-25 00:14:42  26.25213 -79.04084  32.3

          COG  Heading   VesselName         IMO  ... Draft  Cargo  \
117354  222.8    224.0  OCEAN PEARL  IMO9060247  ...   9.8   49.0
117425  224.1    226.0  OCEAN PEARL  IMO9060247  ...   9.8   49.0
117521  223.0    224.0  OCEAN PEARL  IMO9060247  ...   9.8   49.0
118718  224.3    225.0  OCEAN PEARL  IMO9060247  ...   9.8   49.0
118261  222.3    223.0  OCEAN PEARL  IMO9060247  ...   9.8   49.0

        TransceiverClass  LONG_5  LAT_5  LONG_10  LAT_10 LONG_15 LAT_15  \
117354                 A    None   None     None    None    None   None
117425                 A    None   None     None    None    None   None
117521                 A    None   None     None    None    None   None
118718                 A    None   None     None    None    None   None
118261                 A    None   None     None    None    None   None

       Delta_temps
117354         NaN
117425        62.0
117521        70.0
118718       582.0
118261       164.0

[5 rows x 25 columns]

C:\Users\Paul\AppData\Local\Temp\ipykernel_14704\1592785229.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train.sort_values(["MMSI","BaseDateTime"], inplace=True)

prendre entre 295 et 305sec
prendre entre 595 et 605sec
prendre entre 895 et 905sec

In [13]:
def interpoler_positions_dataframe(df):
    """
    Fonction pour interpoler les positions à 5, 10 et 15 minutes
    pour un dataframe donné
    """
    # Créer une copie pour éviter les warnings
    df_copy = df.copy()
    
    # Trier par MMSI et datetime pour assurer l'ordre chronologique
    df_copy = df_copy.sort_values(['MMSI', 'BaseDateTime']).reset_index(drop=True)
    
    print(f"Début de l'interpolation pour {len(df_copy)} lignes...")
    
    # Parcourir chaque navire
    for mmsi in df_copy['MMSI'].unique():
        # Filtrer les données du navire actuel
        mask_navire = df_copy['MMSI'] == mmsi
        indices_navire = df_copy[mask_navire].index.tolist()
        
        # Parcourir les positions de ce navire
        for i in range(len(indices_navire) - 1):
            idx_actuel = indices_navire[i]
            idx_suivant = indices_navire[i + 1]
            
            # Récupérer les positions et temps
            lat_A = df_copy.loc[idx_actuel, 'LAT']
            lon_A = df_copy.loc[idx_actuel, 'LON']
            time_A = df_copy.loc[idx_actuel, 'BaseDateTime']
            
            lat_B = df_copy.loc[idx_suivant, 'LAT']
            lon_B = df_copy.loc[idx_suivant, 'LON']
            time_B = df_copy.loc[idx_suivant, 'BaseDateTime']
            
            # Calculer l'intervalle de temps en secondes
            delta_temps = (time_B - time_A).total_seconds()
            
            # Interpolation à 5 minutes (300s)
            if delta_temps >= 300:
                fraction_5min = 300 / delta_temps
                lat_5min = lat_A + fraction_5min * (lat_B - lat_A)
                lon_5min = lon_A + fraction_5min * (lon_B - lon_A)
                
                df_copy.loc[idx_actuel, 'LAT_5'] = lat_5min
                df_copy.loc[idx_actuel, 'LONG_5'] = lon_5min
            
            # Interpolation à 10 minutes (600s)
            if delta_temps >= 600:
                fraction_10min = 600 / delta_temps
                lat_10min = lat_A + fraction_10min * (lat_B - lat_A)
                lon_10min = lon_A + fraction_10min * (lon_B - lon_A)
                
                df_copy.loc[idx_actuel, 'LAT_10'] = lat_10min
                df_copy.loc[idx_actuel, 'LONG_10'] = lon_10min
            
            # Interpolation à 15 minutes (900s)
            if delta_temps >= 900:
                fraction_15min = 900 / delta_temps
                lat_15min = lat_A + fraction_15min * (lat_B - lat_A)
                lon_15min = lon_A + fraction_15min * (lon_B - lon_A)
                
                df_copy.loc[idx_actuel, 'LAT_15'] = lat_15min
                df_copy.loc[idx_actuel, 'LONG_15'] = lon_15min
    
    print("Interpolation terminée !")
    return df_copy

# Application de l'interpolation sur les trois ensembles
print("=== INTERPOLATION DE L'ENSEMBLE D'APPRENTISSAGE ===")
df_train_interpolated = interpoler_positions_dataframe(df_train)

print("\n=== INTERPOLATION DE L'ENSEMBLE DE TEST ===")
df_test_interpolated = interpoler_positions_dataframe(df_test)

print("\n=== INTERPOLATION DE L'ENSEMBLE DE VALIDATION ===")
df_val_interpolated = interpoler_positions_dataframe(df_val)

=== INTERPOLATION DE L'ENSEMBLE D'APPRENTISSAGE ===
Début de l'interpolation pour 270763 lignes...
Interpolation terminée !

=== INTERPOLATION DE L'ENSEMBLE DE TEST ===
Début de l'interpolation pour 82909 lignes...
Interpolation terminée !

=== INTERPOLATION DE L'ENSEMBLE DE VALIDATION ===
Début de l'interpolation pour 58051 lignes...
Interpolation terminée !

In [14]:
def verifier_interpolation(df, nom_ensemble):
    """
    Fonction pour vérifier les résultats de l'interpolation
    """
    print(f"\n=== VÉRIFICATION - {nom_ensemble} ===")
    
    # Compter les valeurs non nulles pour chaque colonne d'interpolation
    interpolations_5min = df['LAT_5'].notna().sum()
    interpolations_10min = df['LAT_10'].notna().sum()
    interpolations_15min = df['LAT_15'].notna().sum()
    
    print(f"Interpolations à 5 minutes : {interpolations_5min}")
    print(f"Interpolations à 10 minutes : {interpolations_10min}")
    print(f"Interpolations à 15 minutes : {interpolations_15min}")
    
    # Afficher quelques exemples d'interpolation
    exemples = df[df['LAT_5'].notna()].head(3)
    if len(exemples) > 0:
        print(f"\nExemples d'interpolation à 5 minutes :")
        for idx, row in exemples.iterrows():
            print(f"MMSI {row['MMSI']} : Position originale ({row['LAT']:.5f}, {row['LON']:.5f}) -> Position à +5min ({row['LAT_5']:.5f}, {row['LONG_5']:.5f})")

# Vérification des trois ensembles
verifier_interpolation(df_train_interpolated, "TRAIN")
verifier_interpolation(df_test_interpolated, "TEST")
verifier_interpolation(df_val_interpolated, "VALIDATION")

print("\n=== INTERPOLATION TERMINÉE POUR TOUS LES ENSEMBLES ===")
print("Les DataFrames df_train_interpolated, df_test_interpolated et df_val_interpolated")
print("contiennent maintenant les positions interpolées dans les colonnes LAT_5, LONG_5, LAT_10, LONG_10, LAT_15, LONG_15")

=== VÉRIFICATION - TRAIN ===
Interpolations à 5 minutes : 7218
Interpolations à 10 minutes : 1910
Interpolations à 15 minutes : 1299

Exemples d'interpolation à 5 minutes :
MMSI 209513000 : Position originale (26.33224, -78.95551) -> Position à +5min (26.30000, -78.98967)
MMSI 209513000 : Position originale (26.09208, -80.11716) -> Position à +5min (26.09205, -80.11715)
MMSI 209513000 : Position originale (26.08808, -80.11620) -> Position à +5min (26.08809, -80.11616)

=== VÉRIFICATION - TEST ===
Interpolations à 5 minutes : 2028
Interpolations à 10 minutes : 486
Interpolations à 15 minutes : 348

Exemples d'interpolation à 5 minutes :
MMSI 205776000 : Position originale (25.95847, -97.37876) -> Position à +5min (25.95846, -97.37879)
MMSI 205776000 : Position originale (25.95847, -97.37880) -> Position à +5min (25.95847, -97.37880)
MMSI 205776000 : Position originale (25.95846, -97.37878) -> Position à +5min (25.95844, -97.37879)

=== VÉRIFICATION - VALIDATION ===
Interpolations à 5 minutes : 1664
Interpolations à 10 minutes : 321
Interpolations à 15 minutes : 231

Exemples d'interpolation à 5 minutes :
MMSI 245021000 : Position originale (28.88631, -89.33984) -> Position à +5min (28.88632, -89.33983)
MMSI 245021000 : Position originale (28.88630, -89.33986) -> Position à +5min (28.88639, -89.33986)
MMSI 245021000 : Position originale (28.88637, -89.33982) -> Position à +5min (28.88633, -89.33982)

=== INTERPOLATION TERMINÉE POUR TOUS LES ENSEMBLES ===
Les DataFrames df_train_interpolated, df_test_interpolated et df_val_interpolated
contiennent maintenant les positions interpolées dans les colonnes LAT_5, LONG_5, LAT_10, LONG_10, LAT_15, LONG_15

In [15]:
seuil_SOG = 0.5  # à ajuster selon ton dataset
df_filtre = df[df['SOG'] > seuil_SOG].reset_index(drop=True)
len(df_filtre)

132876

1. Filtrage des bateaux à l’arrêt et préparation des données

In [26]:
# Filtrer les bateaux à l'arrêt
seuil_SOG = 0.5  # à ajuster selon ton dataset
df_filtre = df[df['SOG'] > seuil_SOG].reset_index(drop=True)

# Supprimer toutes les lignes où il manque COG ou Heading
df_filtre = df_filtre.dropna(subset=['COG', 'Heading']).reset_index(drop=True)

# Garder uniquement les lignes où on a la cible (LAT_5 et LONG_5)
df_lstm = df_filtre.dropna(subset=['LAT_5', 'LONG_5']).reset_index(drop=True)

# Définir les features d'entrée et la cible
features = ['LAT', 'LON', 'SOG', 'COG', 'Heading']  # tu peux adapter si besoin
target = ['LAT_5', 'LONG_5']
seq_len = 10  # ajuste si besoin

def create_lstm_sequences(df, features, target, seq_len):
    X, y = [], []
    for i in range(len(df) - seq_len):
        X.append(df.loc[i:i+seq_len-1, features].values)
        y.append(df.loc[i+seq_len, target].values)
    return np.array(X), np.array(y)

X, y = create_lstm_sequences(df_lstm, features, target, seq_len)
print("Shape X:", X.shape, "Shape y:", y.shape)

Shape X: (0,) Shape y: (0,)

LSTMoooooooooooooooooooooooooooooooooooooo

In [17]:
seq_len = 20
features = ['LAT', 'LON', 'SOG', 'COG', 'Heading']  # adapte si besoin
target = ['LAT_5', 'LONG_5']

In [18]:
def create_lstm_sequences(df, features, target, seq_len):
    X, y = [], []
    df = df.dropna(subset=features + target).reset_index(drop=True)
    for i in range(len(df) - seq_len):
        X.append(df.loc[i:i+seq_len-1, features].values)
        y.append(df.loc[i+seq_len, target].values)
    return np.array(X), np.array(y)

In [19]:
X_train, y_train = create_lstm_sequences(df_train, features, target, seq_len)
X_val, y_val = create_lstm_sequences(df_val, features, target, seq_len)
X_test, y_test = create_lstm_sequences(df_test, features, target, seq_len)

print("Shape X_train:", X_train.shape, "Shape y_train:", y_train.shape)

Shape X_train: (0,) Shape y_train: (0,)

In [20]:
model = keras.Sequential([
    layers.Input(shape=(seq_len, len(features))),
    layers.LSTM(64, return_sequences=False),
    layers.Dense(32, activation='relu'),
    layers.Dense(2)  # 2 sorties : LAT_5, LONG_5
])

model.compile(optimizer='adam', loss='mae', metrics=['mae'])

In [22]:
print(X_train.shape)
print(y_train.shape)

# history = model.fit(
#     X_train, y_train,
#     validation_data=(X_val, y_val),
#     epochs=15,
#     batch_size=128,
#     verbose=1
# )

(0,)
(0,)

In [ ]:
mae_val = model.evaluate(X_val, y_val, verbose=0)[1]
mae_test = model.evaluate(X_test, y_test, verbose=0)[1]
print(f"MAE Validation : {mae_val:.6f}")
print(f"MAE Test       : {mae_test:.6f}")

In [ ]:
y_pred = model.predict(X_test)

plt.figure(figsize=(12, 6))
for i in range(5):
    plt.subplot(1, 5, i+1)
    plt.plot([lat for lat in X_test[i,:,0]], [lon for lon in X_test[i,:,1]], 'bo-', label='Historique')
    plt.plot(y_test[i,0], y_test[i,1], 'go', label='Réel +5min')
    plt.plot(y_pred[i,0], y_pred[i,1], 'rx', label='Prévu +5min')
    plt.title(f"Exemple {i+1}")
    if i == 0:
        plt.legend()
plt.suptitle("Trajectoires : Historique (bleu), Réel +5min (vert), Prévu +5min (rouge)")
plt.tight_layout()
plt.show()