Import

In [2]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error
import numpy as np

création de la dataframe

In [3]:
df = pd.read_csv(r"After_Sort.csv", parse_dates=["BaseDateTime"])
df.sort_values("BaseDateTime", inplace=True)

print informations

In [4]:
print(df.head())
print(df.info())
print(df.describe())
print(df["VesselType"].value_counts())

             id       MMSI BaseDateTime       LAT       LON   SOG    COG  \
117352  9030257  563020500   2023-05-25  28.82655 -89.43528  14.2  207.9
117395  9032593  366954420   2023-05-25  27.77639 -82.63030   0.1  294.9
117339  9029199  215583000   2023-05-25  26.48967 -79.39617  10.2  182.7
117360  9030460  367181550   2023-05-25  29.85450 -89.98148   0.0  298.2
117442  9036191  368045410   2023-05-25  27.84124 -97.06945   5.9   15.5

        Heading        VesselName            IMO CallSign  VesselType  Status  \
117352    206.0       MERCURY SKY     IMO9796949   9V5148          70       0
117395    294.0  PROVINCETOWN III     IMO9329394  WDB8185          60       0
117339    184.0         COBIA LNG     IMO9869306  9HA5192          84       0
117360      NaN   BELLE CHASSE II            NaN  WDD7069          60       0
117442      NaN    JOSEPH F WEBER  IMO1012865430  WDK3453          60       0

        Length  Width  Draft  Cargo TransceiverClass
117352     NaN    NaN    NaN   70.0                A
117395    30.0    9.0    1.9   60.0                A
117339   299.0   46.0    9.4   84.0                A
117360    41.0   16.0    NaN   60.0                A
117442    46.0   16.0    3.3   60.0                A
<class 'pandas.core.frame.DataFrame'>
Index: 411723 entries, 117352 to 402776
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                411723 non-null  int64
 1   MMSI              411723 non-null  int64
 2   BaseDateTime      411723 non-null  datetime64[ns]
 3   LAT               411723 non-null  float64
 4   LON               411723 non-null  float64
 5   SOG               411723 non-null  float64
 6   COG               371787 non-null  float64
 7   Heading           267527 non-null  float64
 8   VesselName        411723 non-null  object
 9   IMO               297387 non-null  object
 10  CallSign          409921 non-null  object
 11  VesselType        411723 non-null  int64
 12  Status            411723 non-null  int64
 13  Length            393426 non-null  float64
 14  Width             367428 non-null  float64
 15  Draft             268706 non-null  float64
 16  Cargo             409615 non-null  float64
 17  TransceiverClass  411723 non-null  object
dtypes: datetime64[ns](1), float64(9), int64(4), object(4)
memory usage: 59.7+ MB
None
                 id          MMSI                   BaseDateTime  \
count  4.117230e+05  4.117230e+05                         411723
mean   1.676658e+07  4.051087e+08  2023-05-28 11:51:24.290372096
min    8.200000e+01  2.057760e+08            2023-05-25 00:00:00
25%    7.845310e+06  3.670212e+08            2023-05-27 00:25:34
50%    1.645390e+07  3.675990e+08            2023-05-29 01:04:08
75%    2.570430e+07  4.771376e+08     2023-05-29 22:15:20.500000
max    3.518632e+07  6.718300e+08            2023-05-31 23:59:59
std    1.031064e+07  1.081609e+08                            NaN

                 LAT            LON            SOG            COG  \
count  411723.000000  411723.000000  411723.000000  371787.000000
mean       28.665941     -90.065868       3.354600     194.007270
min        23.386430     -97.396580       0.000000       0.000000
25%        27.878770     -94.448555       0.000000     115.000000
50%        29.258580     -90.209540       0.000000     207.100000
75%        29.725690     -89.098555       5.800000     277.000000
max        31.998470     -76.492140      34.400000     359.900000
std         1.454098       5.166867       5.836501     101.812955

             Heading     VesselType         Status         Length  \
count  267527.000000  411723.000000  411723.000000  393426.000000
mean      183.661765      68.682051       3.004178     117.467420
min         0.000000      60.000000       0.000000       0.000000
25%        85.000000      60.000000       0.000000      35.000000
50%       177.000000      70.000000       0.000000      87.000000
75%       288.000000      80.000000       5.000000     185.000000
max       359.000000      89.000000      15.000000     334.000000
std       112.251487       8.574370       5.011241      93.638247

               Width          Draft          Cargo
count  367428.000000  268706.000000  409615.000000
mean       21.005672       7.607627      66.746289
min         0.000000       0.000000       0.000000
25%         9.000000       3.300000      60.000000
50%        18.000000       8.200000      70.000000
75%        32.000000      11.000000      80.000000
max        60.000000      20.400000      99.000000
std        14.050956       4.440219      18.136256
VesselType
60    174436
70    106852
80     97889
71      6879
89      6805
79      5543
69      5517
82      2511
74      1959
61      1840
84      1492
Name: count, dtype: int64

ajout des colones lat et long +5, +10, +15 à la dataframe

In [ ]:
nouvelles_colonnes = ['LONG_5', 'LAT_5', 'LONG_10', 'LAT_10', 'LONG_15', 'LAT_15', 'Delta_temps']

# Ajout des colonnes avec des valeurs vides (NaN)
for col in nouvelles_colonnes:
    df[col] = None  # ou pd.NA, ou np.nan si vous utilisez numpy


print(df.head())

             id       MMSI BaseDateTime       LAT       LON   SOG    COG  \
117352  9030257  563020500   2023-05-25  28.82655 -89.43528  14.2  207.9
117395  9032593  366954420   2023-05-25  27.77639 -82.63030   0.1  294.9
117339  9029199  215583000   2023-05-25  26.48967 -79.39617  10.2  182.7
117360  9030460  367181550   2023-05-25  29.85450 -89.98148   0.0  298.2
117442  9036191  368045410   2023-05-25  27.84124 -97.06945   5.9   15.5

        Heading        VesselName            IMO  ... Width  Draft  Cargo  \
117352    206.0       MERCURY SKY     IMO9796949  ...   NaN    NaN   70.0
117395    294.0  PROVINCETOWN III     IMO9329394  ...   9.0    1.9   60.0
117339    184.0         COBIA LNG     IMO9869306  ...  46.0    9.4   84.0
117360      NaN   BELLE CHASSE II            NaN  ...  16.0    NaN   60.0
117442      NaN    JOSEPH F WEBER  IMO1012865430  ...  16.0    3.3   60.0

        TransceiverClass  LONG_5  LAT_5  LONG_10 LAT_10 LONG_15 LAT_15
117352                 A    None   None     None   None    None   None
117395                 A    None   None     None   None    None   None
117339                 A    None   None     None   None    None   None
117360                 A    None   None     None   None    None   None
117442                 A    None   None     None   None    None   None

[5 rows x 24 columns]

In [6]:

#Séparation en bases d'apprentissage, test et validation par MMSI

# Récupération des MMSI uniques et suppr valeurs manquantes
mmsi_uniques = df['MMSI'].dropna().unique()

# Mélange aléatoire
np.random.seed(42)
np.random.shuffle(mmsi_uniques)

# Affectation fixe : 97 pour apprentissage, 30 pour test, 22 pour validation
n_train = 97
n_test = 30
n_val = 22

mmsi_train = mmsi_uniques[:n_train]
mmsi_test = mmsi_uniques[n_train:n_train + n_test]
mmsi_val = mmsi_uniques[n_train + n_test:n_train + n_test + n_val]

# Création des trois sous-ensembles
df_train = df[df['MMSI'].isin(mmsi_train)]
df_test = df[df['MMSI'].isin(mmsi_test)]
df_val = df[df['MMSI'].isin(mmsi_val)]

# Affichage pour vérification
print("Nombre de MMSI uniques:")
print("Train:", df_train['MMSI'].nunique())
print("Test :", df_test['MMSI'].nunique())
print("Val  :", df_val['MMSI'].nunique())

Nombre de MMSI uniques:
Train: 97
Test : 30
Val  : 22

création de la dataframe

In [19]:
print(df_train.head(5))
print("\n")
print("\n")
print("  ===============================================================  ")
print("\n")
print("\n")
print(df_test.head(5))
print("\n")
print("\n")
print("  ===============================================================  ")
print("\n")
print("\n")
print(df_val.head(5))

             id       MMSI        BaseDateTime       LAT       LON   SOG  \
117354  9030354  209513000 2023-05-25 00:00:04  26.34658 -78.94057  31.9
117425  9035334  209513000 2023-05-25 00:01:06  26.33986 -78.94755  31.9
117521  9042882  209513000 2023-05-25 00:02:16  26.33224 -78.95551  32.2
118718  9138497  209513000 2023-05-25 00:11:58  26.26969 -79.02179  31.6
118261  9101604  209513000 2023-05-25 00:14:42  26.25213 -79.04084  32.3

          COG  Heading   VesselName         IMO  ... Width  Draft  Cargo  \
117354  222.8    224.0  OCEAN PEARL  IMO9060247  ...  27.0    9.8   49.0
117425  224.1    226.0  OCEAN PEARL  IMO9060247  ...  27.0    9.8   49.0
117521  223.0    224.0  OCEAN PEARL  IMO9060247  ...  27.0    9.8   49.0
118718  224.3    225.0  OCEAN PEARL  IMO9060247  ...  27.0    9.8   49.0
118261  222.3    223.0  OCEAN PEARL  IMO9060247  ...  27.0    9.8   49.0

        TransceiverClass  LONG_5  LAT_5  LONG_10 LAT_10 LONG_15 LAT_15
117354                 A    None   None     None   None    None   None
117425                 A    None   None     None   None    None   None
117521                 A    None   None     None   None    None   None
118718                 A    None   None     None   None    None   None
118261                 A    None   None     None   None    None   None

[5 rows x 24 columns]




  ===============================================================




             id       MMSI        BaseDateTime       LAT       LON   SOG  \
117339  9029199  215583000 2023-05-25 00:00:00  26.48967 -79.39617  10.2
117360  9030460  367181550 2023-05-25 00:00:00  29.85450 -89.98148   0.0
117403  9033249  477137600 2023-05-25 00:00:01  26.30728 -79.26286  12.6
117337  9029096  367345040 2023-05-25 00:00:02  29.62820 -94.95548   0.0
117340  9029213  366983730 2023-05-25 00:00:05  29.06302 -88.95610   0.3

          COG  Heading        VesselName         IMO  ... Width  Draft  Cargo  \
117339  182.7    184.0         COBIA LNG  IMO9869306  ...  46.0    9.4   84.0
117360  298.2      NaN   BELLE CHASSE II         NaN  ...  16.0    NaN   60.0
117403  225.5    225.0  ORIENTAL JUBILEE  IMO9763813  ...   NaN    NaN   80.0
117337    NaN      NaN       SUN FIGHTER         NaN  ...   5.0    NaN    5.0
117340   35.7      NaN          MR LLOYD  IMO8988480  ...   9.0    NaN   60.0

        TransceiverClass  LONG_5  LAT_5  LONG_10 LAT_10 LONG_15 LAT_15
117339                 A    None   None     None   None    None   None
117360                 A    None   None     None   None    None   None
117403                 A    None   None     None   None    None   None
117337                 A    None   None     None   None    None   None
117340                 A    None   None     None   None    None   None

[5 rows x 24 columns]




  ===============================================================




             id       MMSI        BaseDateTime       LAT       LON   SOG  \
117395  9032593  366954420 2023-05-25 00:00:00  27.77639 -82.63030   0.1
117356  9030360  367106880 2023-05-25 00:00:02  29.90115 -90.08112   0.0
117451  9037266  538008705 2023-05-25 00:00:03  29.19053 -94.50268  10.8
117345  9029752  367740670 2023-05-25 00:00:03  27.84395 -97.07004   0.0
117346  9029758  538009657 2023-05-25 00:00:05  29.59278 -89.82298  14.9

          COG  Heading        VesselName         IMO  ... Width  Draft  Cargo  \
117395  294.9    294.0  PROVINCETOWN III  IMO9329394  ...   9.0    1.9   60.0
117356  231.9    342.0         NEW ROADS  IMO7527980  ...  20.0    1.5   60.0
117451  134.6    134.0     SOLAR SUZANNE  IMO9877638  ...  25.0    7.9   80.0
117345  281.6      NaN  CHARLES W. HEALD         NaN  ...   NaN    NaN   60.0
117346  128.4    130.0    CLIPPER MEDWAY  IMO9587221  ...  30.0    7.1   70.0

        TransceiverClass  LONG_5  LAT_5  LONG_10 LAT_10 LONG_15 LAT_15
117395                 A    None   None     None   None    None   None
117356                 A    None   None     None   None    None   None
117451                 A    None   None     None   None    None   None
117345                 A    None   None     None   None    None   None
117346                 A    None   None     None   None    None   None

[5 rows x 24 columns]

In [21]:
df_train.sort_values(["MMSI","BaseDateTime"], inplace=True)
print(df_train.head(10))

             id       MMSI        BaseDateTime       LAT       LON   SOG  \
117354  9030354  209513000 2023-05-25 00:00:04  26.34658 -78.94057  31.9
117425  9035334  209513000 2023-05-25 00:01:06  26.33986 -78.94755  31.9
117521  9042882  209513000 2023-05-25 00:02:16  26.33224 -78.95551  32.2
118718  9138497  209513000 2023-05-25 00:11:58  26.26969 -79.02179  31.6
118261  9101604  209513000 2023-05-25 00:14:42  26.25213 -79.04084  32.3
119115  9170094  209513000 2023-05-25 00:16:20  26.24117 -79.05147  32.3
121742  9370175  209513000 2023-05-25 00:18:36  26.22595 -79.06683  32.9
118618  9129883  209513000 2023-05-25 00:19:42  26.21860 -79.07424  32.5
118772  9142300  209513000 2023-05-25 00:20:43  26.21183 -79.08091  31.0
118884  9152712  209513000 2023-05-25 00:21:44  26.20550 -79.08769  32.3

          COG  Heading   VesselName         IMO  ... Width  Draft  Cargo  \
117354  222.8    224.0  OCEAN PEARL  IMO9060247  ...  27.0    9.8   49.0
117425  224.1    226.0  OCEAN PEARL  IMO9060247  ...  27.0    9.8   49.0
117521  223.0    224.0  OCEAN PEARL  IMO9060247  ...  27.0    9.8   49.0
118718  224.3    225.0  OCEAN PEARL  IMO9060247  ...  27.0    9.8   49.0
118261  222.3    223.0  OCEAN PEARL  IMO9060247  ...  27.0    9.8   49.0
119115  220.4    221.0  OCEAN PEARL  IMO9060247  ...  27.0    9.8   49.0
121742  224.5    224.0  OCEAN PEARL  IMO9060247  ...  27.0    9.8   49.0
118618  224.7    224.0  OCEAN PEARL  IMO9060247  ...  27.0    9.8   49.0
118772  220.0    220.0  OCEAN PEARL  IMO9060247  ...  27.0    9.8   49.0
118884  221.2    219.0  OCEAN PEARL  IMO9060247  ...  27.0    9.8   49.0

        TransceiverClass  LONG_5  LAT_5  LONG_10 LAT_10 LONG_15 LAT_15
117354                 A    None   None     None   None    None   None
117425                 A    None   None     None   None    None   None
117521                 A    None   None     None   None    None   None
118718                 A    None   None     None   None    None   None
118261                 A    None   None     None   None    None   None
119115                 A    None   None     None   None    None   None
121742                 A    None   None     None   None    None   None
118618                 A    None   None     None   None    None   None
118772                 A    None   None     None   None    None   None
118884                 A    None   None     None   None    None   None

[10 rows x 24 columns]

C:\Users\Paul\AppData\Local\Temp\ipykernel_26172\703263359.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train.sort_values(["MMSI","BaseDateTime"], inplace=True)

In [ ]:
print(f"Taille de l'ensemble d'apprentissage : {len(df_train)}")
print(f"Taille de l'ensemble de test : {len(df_test)}")
print(f"Taille de l'ensemble de validation : {len(df_val)}")

Taille de l'ensemble d'apprentissage : 270763
Taille de l'ensemble de test : 82909
Taille de l'ensemble de validation : 58051

: