Import

In [1]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error
import numpy as np
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
import matplotlib.pyplot as plt

création de la dataframe

In [2]:
df = pd.read_csv(r"After_Sort.csv", parse_dates=["BaseDateTime"])
df.sort_values("BaseDateTime", inplace=True)

print informations

In [3]:
print(df.head())
print(df.info())
print(df.describe())
print(df["VesselType"].value_counts())

             id       MMSI BaseDateTime       LAT       LON   SOG    COG  \
117352  9030257  563020500   2023-05-25  28.82655 -89.43528  14.2  207.9
117395  9032593  366954420   2023-05-25  27.77639 -82.63030   0.1  294.9
117339  9029199  215583000   2023-05-25  26.48967 -79.39617  10.2  182.7
117360  9030460  367181550   2023-05-25  29.85450 -89.98148   0.0  298.2
117442  9036191  368045410   2023-05-25  27.84124 -97.06945   5.9   15.5

        Heading        VesselName            IMO CallSign  VesselType  Status  \
117352    206.0       MERCURY SKY     IMO9796949   9V5148          70       0
117395    294.0  PROVINCETOWN III     IMO9329394  WDB8185          60       0
117339    184.0         COBIA LNG     IMO9869306  9HA5192          84       0
117360      NaN   BELLE CHASSE II            NaN  WDD7069          60       0
117442      NaN    JOSEPH F WEBER  IMO1012865430  WDK3453          60       0

        Length  Width  Draft  Cargo TransceiverClass
117352     NaN    NaN    NaN   70.0                A
117395    30.0    9.0    1.9   60.0                A
117339   299.0   46.0    9.4   84.0                A
117360    41.0   16.0    NaN   60.0                A
117442    46.0   16.0    3.3   60.0                A
<class 'pandas.core.frame.DataFrame'>
Index: 411723 entries, 117352 to 402776
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                411723 non-null  int64
 1   MMSI              411723 non-null  int64
 2   BaseDateTime      411723 non-null  datetime64[ns]
 3   LAT               411723 non-null  float64
 4   LON               411723 non-null  float64
 5   SOG               411723 non-null  float64
 6   COG               371787 non-null  float64
 7   Heading           267527 non-null  float64
 8   VesselName        411723 non-null  object
 9   IMO               297387 non-null  object
 10  CallSign          409921 non-null  object
 11  VesselType        411723 non-null  int64
 12  Status            411723 non-null  int64
 13  Length            393426 non-null  float64
 14  Width             367428 non-null  float64
 15  Draft             268706 non-null  float64
 16  Cargo             409615 non-null  float64
 17  TransceiverClass  411723 non-null  object
dtypes: datetime64[ns](1), float64(9), int64(4), object(4)
memory usage: 59.7+ MB
None
                 id          MMSI                   BaseDateTime  \
count  4.117230e+05  4.117230e+05                         411723
mean   1.676658e+07  4.051087e+08  2023-05-28 11:51:24.290372096
min    8.200000e+01  2.057760e+08            2023-05-25 00:00:00
25%    7.845310e+06  3.670212e+08            2023-05-27 00:25:34
50%    1.645390e+07  3.675990e+08            2023-05-29 01:04:08
75%    2.570430e+07  4.771376e+08     2023-05-29 22:15:20.500000
max    3.518632e+07  6.718300e+08            2023-05-31 23:59:59
std    1.031064e+07  1.081609e+08                            NaN

                 LAT            LON            SOG            COG  \
count  411723.000000  411723.000000  411723.000000  371787.000000
mean       28.665941     -90.065868       3.354600     194.007270
min        23.386430     -97.396580       0.000000       0.000000
25%        27.878770     -94.448555       0.000000     115.000000
50%        29.258580     -90.209540       0.000000     207.100000
75%        29.725690     -89.098555       5.800000     277.000000
max        31.998470     -76.492140      34.400000     359.900000
std         1.454098       5.166867       5.836501     101.812955

             Heading     VesselType         Status         Length  \
count  267527.000000  411723.000000  411723.000000  393426.000000
mean      183.661765      68.682051       3.004178     117.467420
min         0.000000      60.000000       0.000000       0.000000
25%        85.000000      60.000000       0.000000      35.000000
50%       177.000000      70.000000       0.000000      87.000000
75%       288.000000      80.000000       5.000000     185.000000
max       359.000000      89.000000      15.000000     334.000000
std       112.251487       8.574370       5.011241      93.638247

               Width          Draft          Cargo
count  367428.000000  268706.000000  409615.000000
mean       21.005672       7.607627      66.746289
min         0.000000       0.000000       0.000000
25%         9.000000       3.300000      60.000000
50%        18.000000       8.200000      70.000000
75%        32.000000      11.000000      80.000000
max        60.000000      20.400000      99.000000
std        14.050956       4.440219      18.136256
VesselType
60    174436
70    106852
80     97889
71      6879
89      6805
79      5543
69      5517
82      2511
74      1959
61      1840
84      1492
Name: count, dtype: int64

ajout des colones lat et long +5, +10, +15 et delta_temps à la dataframe

In [5]:
nouvelles_colonnes = ['LONG_5', 'LAT_5', 'LONG_10', 'LAT_10', 'LONG_15', 'LAT_15','Delta_temps']

# Ajout des colonnes avec des valeurs vides (NaN)
for col in nouvelles_colonnes:
    df[col] = None  # ou pd.NA, ou np.nan si vous utilisez numpy


print(df.head())

             id       MMSI BaseDateTime       LAT       LON   SOG    COG  \
117352  9030257  563020500   2023-05-25  28.82655 -89.43528  14.2  207.9
117395  9032593  366954420   2023-05-25  27.77639 -82.63030   0.1  294.9
117339  9029199  215583000   2023-05-25  26.48967 -79.39617  10.2  182.7
117360  9030460  367181550   2023-05-25  29.85450 -89.98148   0.0  298.2
117442  9036191  368045410   2023-05-25  27.84124 -97.06945   5.9   15.5

        Heading        VesselName            IMO  ... Draft  Cargo  \
117352    206.0       MERCURY SKY     IMO9796949  ...   NaN   70.0
117395    294.0  PROVINCETOWN III     IMO9329394  ...   1.9   60.0
117339    184.0         COBIA LNG     IMO9869306  ...   9.4   84.0
117360      NaN   BELLE CHASSE II            NaN  ...   NaN   60.0
117442      NaN    JOSEPH F WEBER  IMO1012865430  ...   3.3   60.0

        TransceiverClass  LONG_5  LAT_5  LONG_10  LAT_10 LONG_15 LAT_15  \
117352                 A    None   None     None    None    None   None
117395                 A    None   None     None    None    None   None
117339                 A    None   None     None    None    None   None
117360                 A    None   None     None    None    None   None
117442                 A    None   None     None    None    None   None

       Delta_temps
117352        None
117395        None
117339        None
117360        None
117442        None

[5 rows x 25 columns]

Remplissage de la colonne Delta_temps

In [6]:
df['Delta_temps'] = df.sort_values(['MMSI', 'BaseDateTime']).groupby('MMSI')['BaseDateTime'].diff().dt.total_seconds()

In [8]:
print(df.head())

             id       MMSI        BaseDateTime       LAT       LON  SOG   COG  \
117823  9067786  205776000 2023-05-25 00:07:27  25.95847 -97.37876  0.0  77.2
118169  9094320  205776000 2023-05-25 00:13:27  25.95846 -97.37880  0.0  77.2
118391  9113012  205776000 2023-05-25 00:16:27  25.95847 -97.37880  0.0  77.2
125113  9625845  205776000 2023-05-25 00:31:27  25.95848 -97.37879  0.0  77.2
120283  9261545  205776000 2023-05-25 00:34:27  25.95846 -97.37882  0.0  77.2

        Heading VesselName         IMO  ...  LONG_5    LONG_5  LAT_10  \
117823    249.0    LA LUNA  IMO9846079  ...    None -89.96854    None
118169    249.0    LA LUNA  IMO9846079  ...    None -93.32482    None
118391    249.0    LA LUNA  IMO9846079  ...    None -89.86643    None
125113    249.0    LA LUNA  IMO9846079  ...    None -95.80343    None
120283    249.0    LA LUNA  IMO9846079  ...    None -93.82770    None

          LAT_10  LONG_10   LONG_10 LAT_15    LAT_15 LONG_15   LONG_15
117823  29.25484     None -89.96855   None  29.25485    None -89.96853
118169  29.79502     None -93.32482   None  29.79503    None -93.32483
118391  29.60288     None -89.86641   None  29.60290    None -89.86644
125113  26.17596     None -95.78374   None  26.17858    None -95.76345
120283  29.67344     None -93.83291   None  29.68841    None -93.83743

[5 rows x 31 columns]

Séparation en bases d'apprentissage, test et validation par MMSI

In [ ]:

# Récupération des MMSI uniques et suppr valeurs manquantes
mmsi_uniques = df['MMSI'].dropna().unique()

# Mélange aléatoire
np.random.seed(42)
np.random.shuffle(mmsi_uniques)

# Affectation fixe : 97 pour apprentissage, 30 pour test, 22 pour validation
n_train = 97
n_test = 30
n_val = 22

mmsi_train = mmsi_uniques[:n_train]
mmsi_test = mmsi_uniques[n_train:n_train + n_test]
mmsi_val = mmsi_uniques[n_train + n_test:n_train + n_test + n_val]

# Création des trois sous-ensembles
df_train = df[df['MMSI'].isin(mmsi_train)]
df_test = df[df['MMSI'].isin(mmsi_test)]
df_val = df[df['MMSI'].isin(mmsi_val)]

# Affichage pour vérification
print("Nombre de MMSI uniques:")
print("Train:", df_train['MMSI'].nunique())
print("Test :", df_test['MMSI'].nunique())
print("Val  :", df_val['MMSI'].nunique())

Nombre de MMSI uniques:
Train: 97
Test : 30
Val  : 22

Observation de début de chaque df

In [ ]:
print(df_train.head(5))
print("\n")
print("\n")
print("  ===============================================================  ")
print("\n")
print("\n")
print(df_test.head(5))
print("\n")
print("\n")
print("  ===============================================================  ")
print("\n")
print("\n")
print(df_val.head(5))

In [ ]:
df_train.sort_values(["MMSI","BaseDateTime"], inplace=True)
print(df_train.head(10))

In [ ]:
print(f"Taille de l'ensemble d'apprentissage : {len(df_train)}")
print(f"Taille de l'ensemble de test : {len(df_test)}")
print(f"Taille de l'ensemble de validation : {len(df_val)}")

In [ ]:
df_train.sort_values(["MMSI","BaseDateTime"], inplace=True)
print(df_train.head())
# print(df_train.iloc[2950:3000])

prendre entre 295 et 305sec
prendre entre 595 et 605sec
prendre entre 895 et 905sec

In [ ]:
def interpoler_positions_dataframe(df):
    """
    Fonction pour interpoler les positions à 5, 10 et 15 minutes
    pour un dataframe donné
    """
    # Créer une copie pour éviter les warnings
    df_copy = df.copy()
    
    # Trier par MMSI et datetime pour assurer l'ordre chronologique
    df_copy = df_copy.sort_values(['MMSI', 'BaseDateTime']).reset_index(drop=True)
    
    print(f"Début de l'interpolation pour {len(df_copy)} lignes...")
    
    # Parcourir chaque navire
    for mmsi in df_copy['MMSI'].unique():
        # Filtrer les données du navire actuel
        mask_navire = df_copy['MMSI'] == mmsi
        indices_navire = df_copy[mask_navire].index.tolist()
        
        # Parcourir les positions de ce navire
        for i in range(len(indices_navire) - 1):
            idx_actuel = indices_navire[i]
            idx_suivant = indices_navire[i + 1]
            
            # Récupérer les positions et temps
            lat_A = df_copy.loc[idx_actuel, 'LAT']
            lon_A = df_copy.loc[idx_actuel, 'LON']
            time_A = df_copy.loc[idx_actuel, 'BaseDateTime']
            
            lat_B = df_copy.loc[idx_suivant, 'LAT']
            lon_B = df_copy.loc[idx_suivant, 'LON']
            time_B = df_copy.loc[idx_suivant, 'BaseDateTime']
            
            # Calculer l'intervalle de temps en secondes
            delta_temps = (time_B - time_A).total_seconds()
            
            # Interpolation à 5 minutes (300s)
            if delta_temps >= 300:
                fraction_5min = 300 / delta_temps
                lat_5min = lat_A + fraction_5min * (lat_B - lat_A)
                lon_5min = lon_A + fraction_5min * (lon_B - lon_A)
                
                df_copy.loc[idx_actuel, 'LAT_5'] = lat_5min
                df_copy.loc[idx_actuel, 'LONG_5'] = lon_5min
            
            # Interpolation à 10 minutes (600s)
            if delta_temps >= 600:
                fraction_10min = 600 / delta_temps
                lat_10min = lat_A + fraction_10min * (lat_B - lat_A)
                lon_10min = lon_A + fraction_10min * (lon_B - lon_A)
                
                df_copy.loc[idx_actuel, 'LAT_10'] = lat_10min
                df_copy.loc[idx_actuel, 'LONG_10'] = lon_10min
            
            # Interpolation à 15 minutes (900s)
            if delta_temps >= 900:
                fraction_15min = 900 / delta_temps
                lat_15min = lat_A + fraction_15min * (lat_B - lat_A)
                lon_15min = lon_A + fraction_15min * (lon_B - lon_A)
                
                df_copy.loc[idx_actuel, 'LAT_15'] = lat_15min
                df_copy.loc[idx_actuel, 'LONG_15'] = lon_15min
    
    print("Interpolation terminée !")
    return df_copy

# Application de l'interpolation sur les trois ensembles
print("=== INTERPOLATION DE L'ENSEMBLE D'APPRENTISSAGE ===")
df_train_interpolated = interpoler_positions_dataframe(df_train)

print("\n=== INTERPOLATION DE L'ENSEMBLE DE TEST ===")
df_test_interpolated = interpoler_positions_dataframe(df_test)

print("\n=== INTERPOLATION DE L'ENSEMBLE DE VALIDATION ===")
df_val_interpolated = interpoler_positions_dataframe(df_val)

In [ ]:
def verifier_interpolation(df, nom_ensemble):
    """
    Fonction pour vérifier les résultats de l'interpolation
    """
    print(f"\n=== VÉRIFICATION - {nom_ensemble} ===")
    
    # Compter les valeurs non nulles pour chaque colonne d'interpolation
    interpolations_5min = df['LAT_5'].notna().sum()
    interpolations_10min = df['LAT_10'].notna().sum()
    interpolations_15min = df['LAT_15'].notna().sum()
    
    print(f"Interpolations à 5 minutes : {interpolations_5min}")
    print(f"Interpolations à 10 minutes : {interpolations_10min}")
    print(f"Interpolations à 15 minutes : {interpolations_15min}")
    
    # Afficher quelques exemples d'interpolation
    exemples = df[df['LAT_5'].notna()].head(3)
    if len(exemples) > 0:
        print(f"\nExemples d'interpolation à 5 minutes :")
        for idx, row in exemples.iterrows():
            print(f"MMSI {row['MMSI']} : Position originale ({row['LAT']:.5f}, {row['LON']:.5f}) -> Position à +5min ({row['LAT_5']:.5f}, {row['LONG_5']:.5f})")

# Vérification des trois ensembles
verifier_interpolation(df_train_interpolated, "TRAIN")
verifier_interpolation(df_test_interpolated, "TEST")
verifier_interpolation(df_val_interpolated, "VALIDATION")

print("\n=== INTERPOLATION TERMINÉE POUR TOUS LES ENSEMBLES ===")
print("Les DataFrames df_train_interpolated, df_test_interpolated et df_val_interpolated")
print("contiennent maintenant les positions interpolées dans les colonnes LAT_5, LONG_5, LAT_10, LONG_10, LAT_15, LONG_15")

In [ ]:
seuil_SOG = 0.5  # à ajuster selon ton dataset
df_filtre = df[df['SOG'] > seuil_SOG].reset_index(drop=True)
len(df_filtre)